body.light {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-color: #021f3e;
}

body.dark {
  --background-color: #333333;
  --text-color: #ffffff;
  --button-color: #2793ff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

button {
  background-color: var(--button-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
